
	<script language="JavaScript">
	window.onload=function(){ 
			
		    formulario2.submit();
			
	}		
	</script>


 <p>
  <form id="formulario2" method="post" action="/eliminar">
    <input type="hidden" name="_method" value="delete"/><p>
    <input type="hidden" name="id" value="<%= id %>"/><p>
    
  </form>