  <p>
  <form method="post" action="/create">      
    Añada una pregunta nueva: <p>
    Pregunta: <input type="text" name="pregunta"/> <p>
    Respuesta: <input type="text" name="respuesta"/> <p>
    <input type="submit" value="Enviar">
  </form>